*{

    margin: 0px;
    padding: 0px;
    border: 0px;

}

html{

    scroll-behavior: smooth;
    width: 100%;

}
/* celulares */

@media(max-width: 450px){

    body{

       
       width: 100%;
      
        
    }

    header{

        width: 100%;

    }
    
    nav{
        position: fixed;
        width: 86%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;  
        background-color: #3B485E;
      
   
    
    }
    
    .Nav-icons{

        width: 230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
       
        


    }

    .Nav-item{
    
        text-decoration: none;
    
        font-size: 18px;
        border-bottom: 2px solid;
        color: #D3BFB1;
    }
    
    .Nav-item:hover{
    
        transition-duration: 0.3s;
        color: blue;
    
    }
    
    #Areas{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
        background-color: #3B485E;
        
        height: 1500px; 
        width: 100%     ;
    
    }
    
    .T-1{

        color: #d3bfb1;
        font-size: 34px;


    }

    .P-1{

        color: #D3BFB1;
        font-size: 16px;

    }
    .Areas-item{
    
      
    
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 200px;
        height: 300px;
        
        gap: 5px;
        margin-bottom: 20px;
        margin: 30px;
        padding: 50px;

    }

   
    #Sobre{

        background-color: #BB9684;
        width: 100%;

    }

    .sobre-base{
        background-color: #BB9684;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: center;
        gap: 15px;
        
        height: 900px;

    }

    .sobre-item{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 350px;

        padding: 20px;
        gap: 15px;

    }


    #Contato{
        background-color: #3B485E;
        width: 100%;


    }

    .formulario-ext{

        width: 100%;
        height: 500px;
        background-color: #3B485E;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 30px;

      

    }



    .informacoes{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 400px;

    

        gap: 30px;

        

        
        


    }

    .tel-name{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;

    

    }

    .input-text{

        width: 150px;
        height: 30px;
        border-radius: 5px;
    }

    .input-email{
    
        width: 100%;
        height: 30px;
        border-radius: 5px;

    }

    .input-message{

        width: 100%;
        height: 200px;

    }

    .input-bottom{

        width: 90%;
        height: 40px;
        border-radius: 10px;

    }

    .input-bottom:hover{

        background-color: #D3BFB1;
        color: #3B485E;

    }

    .message{

        
     
        width:  90%;

       

    }

    .info{

        width: 90%;
        
    }




    label{
        text-align: start;
        font-size: 16px;
        display: inline;
        padding-bottom: 25px;
        color: #D3BFB1;

    }

    h2{


        text-align: start;
       padding-left: 5%;
       padding-top: 10px;
       color: #D3BFB1;

    }

 

}
